@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}

body{
	font:1em/1 'Montserrat', sans-serif;
	color:rgb(255,255,255);
	text-align:center;
	position: fixed;
	background:var(--bg-preto);
}

:root{
	--bg-preto:rgb(0,0,0);
	--nao-metal:rgb(10,210,100);
	--gas-nobre:rgb(0, 162, 255);
	--metal-alcalino:rgb(255, 151, 41);
	--metal-alcalino-terroso:rgb(235, 255, 58);
	--semimetal:rgb(0, 255, 225);
	--halogenio:rgb(153, 197, 255);
	--outros-metais:rgb(255, 89, 89);
	--metal-transicao:rgb(255, 157, 157);
	--lantanideo:rgb(150,225,225);
	--actinidio:rgb(230,190,220);
}
.nao-metal{
	color:var(--nao-metal);
}
.gas-nobre{
	color:var(--gas-nobre);
}
.metal-alcalino{
	color:var(--metal-alcalino);
}
.metal-alcalino-terroso{
	color:var(--metal-alcalino-terroso);
}
.semimetal{
	color:var(--semimetal);
}
.halogenio{
	color:var(--halogenio);
}
.outros-metais{
	color:var(--outros-metais);
}
.metal-transicao{
	color:var(--metal-transicao);
}
.lantanideo{
	color:var(--lantanideo);
}	
.actinidio{
	color:var(--actinidio);
}


footer{
    font-size:.8em;
    text-align:left;	
    flex-basis:13.5rem;
    margin:-.25em 0 0 20em;
}

h2{
	font-size: 20px;
}

p:last-child{
	font-size:6px;
}

/* GRID CONTAINER STYLES */
#box{
	display: flex;
	align-content: center;
	text-align: center;
}

.titulo{
	margin-bottom: 10px;
}

#corpo1{
	flex-grow:1;
	min-width:7em;
}

.col-hidden{
	display:none;	
}

/* GRID CELL */
section{
	width: 62px;
	height: 62px;
	background:var(--bg-preto);
	padding: 8px;
	border: 2px solid;
	border-radius: 4px;	
	line-height: 1.30;
	position: relative;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 0px 3px 0.5px;
}

button{
	text-decoration: none;
	margin: 2px;
	background: none;
	border: none;
}

span{
	font-size: 10px;
	position:absolute;
	top: 4px;
	left: 4px;	
}


/* FOOTER */
footer{
	font-size:.8em;
	text-align:left;	
	flex-basis:13.5rem;
	margin:-.25em 0 0 1em;
}

ul{
	display:flex;
	flex-wrap:wrap;
	position:sticky;
	top:1em;
}

li{
	flex-basis:100%;
	line-height:1.25;
	margin-bottom:1em;	
}

#linha2{
	margin-top: 66px;
}
#linha3{
	margin-top: 132px;
}

li:before{
	content:' ';
	display:inline-block;
	width:1em;
	height:1em;
	border:.125em solid;
	border-radius:.125rem;	
	margin-right:.5em;
	position:relative;
	top:.25em;
}



@media only screen and (min-width:92.5em){
	@supports (display:grid){
		
		/* GLOBAL STYLES */
		
		body{
			font-size:.65em;
			padding: 50px;	
		}
		
		
		/* GRID CONTAINER STYLES */
	
		#box{
			max-width:130.5em;
			display:block;
		}
		
		#corpo1{
			display:flex;
		}
			
		.col-span16{
			grid-column:span 16;
		}
			
		.col-span10{
			grid-column:span 10;
		}
			
		.col-span3{
			grid-column:span 3;
		}
			
		.col-hidden{
			display:block;
			visibility:hidden;
		}
			
		
		/* GRID CELL */
		
		section{
			margin: 0px;
		}
			
		section:hover{
			transition:.2s;
			transform:scale(1.3);
			cursor:pointer;
			z-index:2;
			box-shadow: 0px 0px 9px 2px;
		}
		
		
		/* FOOTER */
	
		footer{
			font-size:1em;
			width:100%;
			margin:2em 0;
		}
		
		ul{
			justify-content:center;
		}
		
		li{
			flex-basis:auto;
			margin-bottom:0;	
		}
		
		li + li{
			margin-left:2em;	
		}	
	}
}

@media only screen and (min-width:102.5em){
	/* GLOBAL STYLES */
		
		body{
			font-size:.75em;	
		}	
}